.movie-showtime-wrapper {
	color: #777;
	height: 70px;
	width: 75%;
	overflow: hidden;
}

.movie-title {
	color: #777;
	float: left;
	padding-right: 40px;
	height: 100px;
	line-height:90%
}

.movie-showtime {
	text-align: center;
	color: #FFF;
	background-color: #000;
	margin-right: 4px;
	margin-bottom: 4px;
	float: left;
	height: 30px;
	width: 70px;
}