* {
	outline: none!important;
}

html {
	background: #fff url('../images/bg.png') repeat 0 0;
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
}

body { 
	background: transparent url('../images/bg6.jpg') no-repeat center top;
	background-color:#1e100f;
	color: #666;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6;
	margin: 0;
	min-height: 100%;
	padding: 10px 0 30px 0;
	word-wrap: break-word;
}

a,
#my-mainbody a:active,
#my-mainbody a:focus,
#my-mainbody a:hover,
#my-mainbody h1 a,
#my-mainbody h2 a {
	color: #000;
	-webkit-transition: color 0.2s linear;
	   -moz-transition: color 0.2s linear;
	     -o-transition: color 0.2s linear;
	        transition: color 0.2s linear;
	text-decoration: none;
}

a:hover,
a:active,
a:focus,
#my-mainbody a,
#my-mainbody h1 a:active,
#my-mainbody h1 a:focus,
#my-mainbody h1 a:hover,
#my-mainbody h2 a:active,
#my-mainbody h2 a:focus,
#my-mainbody h2 a:hover,
#my-sidebar .box a:hover{
	color: #ff7e57;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	font-weight: 400;
	letter-spacing: -1px;	
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 48px;
}

h2,
.page-title {
	font-size: 42px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 13px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ol {
	margin: 0;
	padding: 0;
}

ul li,
ol li {
	line-height: 2.0;
}

p {
	margin: 0.5em 0 1.5em;
	color:#555;
}

table td {
	vertical-align: top;
}

img {
	height: auto;
	max-width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="www"],
input[type="tel"],
textarea  {
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #9c9c9c;
	font-size: 12px;
	font-weight: 400;
	height: 34px;
	max-width: 100%!important;
	padding: 0 15px
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,

label {
	color: #333;
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
}

article {
	margin: 0;
}

.home .my-is-homepage article,
.home #my-mainbody article {	
	border-top: 1px solid #e5e5e5;
	margin-top: 38px;
	padding-top: 24px;
}

.my-page-wrapper {
	background: #fff;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .32);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .32);
	box-shadow: 0 0 20px rgba(0, 0, 0, .32);
	position: relative;
}

.my-page-wrap {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px 20px;
	max-width:1130px;
	margin: 0 auto;
}

.area {
	margin: 0 auto;
	max-width: 1080px;
}

.my-page {
	margin: 0 auto;
	margin-top:140px;
	width: 100%; 
	opacity:0.95;
	max-width: 100%;
	filter:alpha(opacity=95);
}

#my-search {
	float: none;
	margin: -2px auto 0 auto;
	max-width: 350px;
}

#my-search #s {
	background: transparent url('../images/search_bg.png');
	background-position: right center!important;
	background-repeat: no-repeat!important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 350px;
}

#top-menu {
	float: right;
	margin-top: 5px;
}

#top-menu li {
	float: left;
	font-size: 13px;
	font-weight: 400;
	line-height: 12px;
}

#top-menu li a {
	color: #666;
	margin: 0 10px 0 14px;
}



#top-menu li a:active,
#top-menu li a:focus,
#top-menu li a:hover {
	color: #ff7e57;
}

#top-menu li:first-child::before {
	visibility: hidden;
}

#top-menu li::before {
	background: #d1d1d1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	content: "";
	display: block;
	height: 4px;
	position: relative;
	top: 8px;
	width: 4px;
}



#my-head {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 42px 50px 15px 50px;
	width: 100%;
}

#my-head.my-absolute-head {
	position: absolute;
	z-index: 1000;
}

a.cssLogo {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
}

a.cssLogo {
	background: transparent url('../images/logo.png') no-repeat 0 0;
	height: 30px;
	width: 154px;
}

#main-menu {
	clear: both;
	float: left;
	list-style-type: none;
	margin: 26px -16px 0 -16px!important;
	padding: 0;
	position: relative;
	width: auto;
}

#main-menu > li {
	clear: none!important;
	float: left;
	font-size: 13px;
	font-weight: 700;
	height: 36px;
	line-height: 36px;
	text-transform: uppercase;
	width: auto;
}

#main-menu > li > a {
	color: #000;
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 16px;
}

#main-menu > li > a:hover,
#main-menu > li.current-menu-item,
#main-menu > li.current_page_item,
#main-menu > li:hover,
#main-menu > li.active > a {
	color: #ff7e57;
}

#main-menu > li.linkk:hover {
	background: #000;
}

#main-menu > li.linkk:hover > a {
	color: #fff;
}

.box #searchform label,
.box #searchform #searchsubmit {
	display: none;
}



#my-bottom1,
#my-bottom2 {
	background: #f9f9f9;
	height: 270px;
	border-top: 1px solid #efefef;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 50px 50px 65px 50px;
}

#my-bottom1 .box,
#my-bottom2 .box {
	color: #666;
	font-size: 13px;
}

#my-bottom1 .box .box-title,
#my-bottom2 .box .box-title {
	color: #000;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.4px;
	line-height: 16px;
	margin: 8px 0 28px 0;
	padding: 0;
	text-transform: uppercase;
}

#my-bottom1 .box li a,
#my-bottom2 .box li a {
	color: #929292;
}

#my-bottom1 .box li a:active,
#my-bottom1 .box li a:focus,
#my-bottom1 .box li a:hover,
#my-bottom2 .box li a:active,
#my-bottom2 .box li a:focus,
#my-bottom2 .box li a:hover {
	color: #ff7e57;
}

.box address {
	color: #666;
	font-size: 14px;
	font-style: normal;
}

.box address p {
	margin: 0;
}

#my-bottom1 .box,
#my-bottom2 .box {
	float: left;
}

.area .col1 { width: 100%; }
.area .col2 { width: 50%; }
.area .col3 { width: 33.3%; }
.area .col4 { width: 25%; }
.area .col5 { width: 20%; }
.area .col6 { width: 16.6%; }


.logo-img {
	float:left;
	position:absolute;
	margin-top:25px;
	padding-left:20px;
}


#my-mainbody-columns {
	background: #fff;
	display: block;
	float:left;
	width: 100%;
	max-width: 1110px;
}


#my-mainbody-columns.my-content-top-border {
	border-top: 1px solid #efefef;
}

#my-mainbody-columns > section {
	border-right: 1px solid #efefef;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	padding: 0 40px 0 0;
}

#my-mainbody-columns > aside {
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	padding: 0 0 0 40px;
}

#my-mainbody-columns.my-column-left > section {
	border-left: 1px solid #efefef;
	border-right: none;
	float: right;
	padding: 0 0 0 40px;
}

#my-mainbody-columns.my-column-left > aside {
	float: left;
	padding: 0 40px 0 0;
}

#my-mainbody-columns.my-content-no-sidebar > section {
	border-left: none;
	border-right: none;
	padding: 0;
}


#logo_main {
	max-width:1140px;
	margin: 0 auto;
}



.header-user-info{
	color:#fff;
}
.header-user-info:hover{
	color:#fff;
	text-decoration:underline;
}


	span.reference{
				position:fixed;
				left:0px;
				bottom:0px;
				background:#000;
				width:100%;
				font-size:10px;
				line-height:20px;
				text-align:right;
				height:20px;
				-moz-box-shadow:-1px 0px 10px #000;
				-webkit-box-shadow:-1px 0px 10px #000;
				box-shadow:-1px 0px 10px #000;
			}
			span.reference a{
				color:#aaa;
				text-transform:uppercase;
				text-decoration:none;
				margin-right:10px;
				
			}
			span.reference a:hover{
				color:#ddd;
			}
			.bg_img img{
				width:100%;
				position:fixed;
				top:0px;
				left:0px;
				z-index:-1;
			}
			h1{
				font-size:75px;
				text-align:right;
				position:absolute;
				right:40px;
				top:20px;
				font-weight:normal;
				/*text-shadow:  0 0 3px #0096ff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0096ff, 0 0 70px #0096ff, 0 0 80px #0096ff, 0 0 100px #0096ff, 0 0 150px #0096ff;
			*/}
			h1 span{
				display:block;
				font-size:15px;
				font-weight:bold;
			}
			h2{
				position:absolute;
				top:220px;
				left:50px;
				font-size:40px;
				font-weight:normal;
				/*text-shadow:  0 0 3px #f6ff00, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f6ff00, 0 0 70px #f6ff00, 0 0 80px #f6ff00, 0 0 100px #f6ff00, 0 0 150px #f6ff00;*/}
				
				
					body, html, body input, #main-menu .sub-menu li { font-family: 'Roboto Condensed'; }
		h1,h2,h3,h4,h5,h6, #main-menu > li,
		.my-popup h3 { font-family: 'Open Sans'; }
		#my-mainbody-columns > section { width: 100%; }			
		@media (min-width: 1031px) {
		#my-mainmenu-collapse { height: auto!important; }
			}
			
			
		
			
#movie-photos-background{
	background-image: url('../images/movie_photos_background.jpg');
	width:100%;
	padding:15px 5px;
	height:210px;
}

#textarea {
	width:100%;
	height:80px;
	border:1px solid #dadada;
	font-size:11px;
	padding:15px;
	font-family:'Open Sans';
}

.comments {
	margin-top:40px;
}

.comment-post {
	margin-top:0px;
	margin-bottom:35px;
	font-size:14px;
}

.comment-avatar {
	width:70px;
	padding-right:20px;
}

.comment-date {
	color:#888;
	font-size:12px;
}

.icons img{
	opacity: 0.8;
}

.icons img:hover{
	opacity: 1;
}


	#place {
		position:relative;
		margin:7px;
	}
	#place a{
		font-size:0.6em;
	}
	#place li
	{
		list-style: none outside none;
		position: absolute;   
		line-height: 1.3!important;
	}    
	#place li:hover{
		background-color: #eee;
		cursor: pointer;
		-webkit-transition: background-color 0.2s linear;
		-moz-transition: background-color 0.2s linear;
		-o-transition: background-color 0.2s linear;
		transition: background-color 0.2s linear;
		text-decoration: none;     
	} 
	
	#place .selectedSeat:hover {
		background-color: #fff;
		cursor: not-allowed;
	}
	#place .seat{
		background:url("../images/seats/gray.png") no-repeat scroll 0 0 transparent;
		height:35px;
		width:35px;
		display:block;   
	}
	#place .selectedSeat
	{ 
		background-image:url("../images/seats/red.png");          
	}
	#place .selectingSeat
	{ 
		background-image:url("../images/seats/green.png");        
	}
	#place .col-4, #place .col-5, #place .col-6, #place .col-7, #place .col-8, #place .col-9, #place .col-10, #place .col-11, #place .col-12, #place .col-13, #place .col-14, #place .col-15 {
		margin-left: 30px;
	}
	#place .col-16, #place .col-17, #place .col-18, #place .col-19, #place .col-20{
		margin-left: 60px;
	}
	
	
	#seatDescription li{
		vertical-align:middle;    
		display: inline;
		padding-left:40px;
		margin-right: 30px;
		margin-left:7px;
		bottom:20px;
		height:50px;
		padding-top:10px;
		padding-bottom:10px;
	}
	
	#screen {
		width:970px;
		height:70px;
		background-color:#dadada;
		text-align:center;
		padding:5px;
		font-size:40px;
		margin-bottom:30px;
		color:#555;
	}
	
	#rows {
		width:30px;
		position:absolute;
		margin-left:980px;
		margin-top:-10px;
		height:410px;
		background-color:#dadada;
		text-align:center;
		padding:5px;
		font-size:20px;
		line-height:225%;
		margin-bottom:30px;
		color:#555;
	}
	
	.nav-booking {
		opacity:0.7;
	}
	
	.nav-booking:hover {
		opacity:1;
	}
	
	#chosen-film {
		background-color:#ededed;
		padding:15px;
	}
	
	.styled-select {
	   width: 240px;
	   height: 34px;
	   overflow: hidden;
	   background: url(../images/seats/down_arrow_select.jpg) no-repeat right #ededed;
	   border: 1px solid #ddd;
   }
   
   .styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
	

	

.movie-showtime-wrapper {
	color: #777;
	height: 70px;
	width: 75%;
	overflow: hidden;
}

.movie-title {
	color: #777;
	float: left;
	padding-right: 40px;
	height: 100px;
	line-height:90%
}

.movie-showtime {
	text-align: center;
	background-image: url('../images/showtime_background.png');
	color: #FFF;
	margin-right: 4px;
	margin-bottom: 4px;
	float: left;
	margin: 5px;
	padding-top: 2px;
	width: 72px;
	height: 25px;
	font-size: 12px;
	font-weight: bold;
}

.movie-showtime a {
	color: #FFF!important;
}

.movie-showtime a:hover {
	color: #ff7e57!important;
}

.review-wrapper {
	width: 75%;
}

  #map-canvas { 
  	height: 400px; 
  	width: 100%;
  	color: #000;
  }

  #map-canvas img { /*fixes the distorted image*/
  	max-width: none;
  }

  .about-header {
	position: inherit!important;
}

.team-wrapper {
	overflow: hidden;
}

.team-member {
	float: left;
	display: inline;
	margin-right: 20px;
	width: 220px;
}

